body{
	font-family:'Anonymous Pro', monospace;
	
}

.my_class{
  min-height: 100vh; /* minimum height = screen height */
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_page{
	display:none;
}

#Courier-Prime{
	font-family: 'Courier Prime';
}

#Roboto-Mono{
	font-family: 'Roboto Mono', monospace;
}

#Anonymous-Pro{
    font-family: 'Anonymous Pro', monospace;
}

#Ubuntu{
    font-family: 'Ubuntu', sans-serif, monospace;
}
